	* {
		accent:			#B379F2;
		bg-mainbox:		#3B4252;
		background:		#252A34;
		background-light:	#3B4252;
		bgselected:		#3B4252;
		foreground:		#64D1E0;
		foreground-light:	#64D1E0;
		fgselected:		#F0F0F0;
	}
